{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h2>Welcome</h2>

<p>
The Fire and Rescue Service Vlog Management and Reporting System is designed
to educate the public through fire safety videos, emergency updates, and
rescue awareness campaigns.
</p>

<p>
Our goal is to promote fire prevention, improve emergency preparedness,
and provide easy access to important safety information for everyone.
</p>

<p>
Welcome to the Fire and Rescue Service Vlog Management and Reporting System.
This website helps manage fire safety videos, rescue reports, awareness campaigns, and emergency updates.
</p>

{% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <p>Role: {{ user.role }}</p>
{% else %}
    <h2>Welcome to Fire & Rescue Service</h2>
{% endif %}
{% endblock %}

