{% extends 'base.html' %}

{% block content %}

<h2>Sign Up</h2>

<form method="POST">
    {% csrf_token %}

    <label>Username</label><br>
    <input type="text" name="username"><br><br>

    <label>Password</label><br>
    <input type="password" name="password"><br><br>

    <label>Role</label><br>
    <select name="role">
        <option value="Public">Public</option>
        <option value="Officer">Officer</option>
        <option value="Admin">Admin</option>
    </select><br><br>

    <button type="submit">Sign Up</button>
</form>

{% endblock %}